html {
    margin: auto;
}

body {
    margin: auto;
    background-color: #fff;
    font-family: 'museo-sans',  sans-serif;
    /* background-color: #fff; */
    /* color: #263238; */
    /* font-size: 2.0rem; */
}
